*.log
*.tmp
*.bak
*.swp
*.DS_Store

Thumbs.db
.DS_Store

files/

.vscode/
.idea/

*.env

node_modules/

caesar/files

des/node_modules
xor/node_modules
caesar/node_modules

des/.vscode
xor/.vscode
caesar/.vscode